* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@import 'partials/header';

@import 'partials/jumbotron';

@import 'partials/comics-home';

@import 'partials/comics-details';

@import 'partials/footer';