#comics-details {
    height: 500px;
    margin-top: 50px;
}

#comics-details h1 {
    position: absolute;
    top: 41%;
    left: 6%;
    background-color: #0182f9;
    color: #fff;
    padding: 10px 20px;
}

#comics-details img,
#comics-details p,
#comics-details a {
    margin-left: 6%;
}